html, body {
    margin: 0;
    padding-top: 50px;
    background: none;
  }
  
  .container {
    position: relative;
    height: 100vh; 
    overflow: -moz-hidden-unscrollable; 
  }
  
  .background-image {
    background-image: url('../../assets/Components/background_image.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
  }
  
  .navbar {
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 2; 
  }
  
  .welcome-note {
    position: relative;
    z-index: 3; 
    padding: 125px 0px; 
    color: white;
    text-align: center; 
    margin-top: 150px; 
    margin-right: 100px;
    margin-left: 500px;
    z-index: -1;
  }
  
  .welcome-note section {
    max-width: 980px; 
    margin: none; 
    padding: 20px; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 8px; 
  }
  
  .welcome-note h4,  h2, h1, p, button {
    margin: 10px 0; 
  }
  
  .welcome-note button {
    padding: 10px 20px;
    background-color: #ff6600; 
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    border-radius: 6px; 
  }
  
  .welcome-note button:hover {
    background-color: #ff4500; 
    transform: translateZ(+1);
    z-index: 2;
  }
  
  h1 {
    font-size: 50px;
    line-height: 64px;
  }
  
  h2 {
    font-size: 46px;
    line-height: 54px;
  }
  
  h4 {
    font-size: 20px;
  }
  
  h6 {
    font-weight: 700;
    font-size: 12px;
  }
  
  p {
    font-size: 16px;
    margin: 15px 0 20px 0;
  }
  
  .section-p1 {
    padding: 40px 80px;
  }
  
  button.normal {
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    border: 2px solid;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  button.normal:hover {
    background-color: #ff4500; 
  }
  
  #feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap; 
    margin-right: 75px;
    margin-left: 75px ;
  }
  
  #feature .fe-box {
    width: 220px; 
    height: 220px; 
    text-align: center;
    padding: 25px 15px;
    box-shadow: 10px 10px 54px rgba(255, 252, 252, 0.3);
    margin: 0 10px; 
  }
  
  
  #feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(255, 255, 254, 0.1);
  }
  
  #feature .fe-box img{
    width: 100%;
  }
  
  #feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 9px 8px;
    line-height: 1;
    border-radius: 6px;
    color: #c7ae6a;
    background-color: transparent;
  }
  
  #product1 {
    text-align: center;
    color: #fbe4f8;
  }
  
  #product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    flex-wrap: wrap;
  }
  
  #product1 .pro{
    width: 23%;
    height: auto;
    min-width: 250px;
    padding: 20px 20px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(255, 254, 254, 0.3);
    margin: 20px 1px;
    transition: 0.2s ease;
    background-color: 10px 10px 54px rgba(255, 255, 254, 0.1);
    backdrop-filter: blur(5px);
    position: relative;
  }
  
  #product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
  }
  
  #product1 .pro img {
    width: 100%;
    height: 60%;
  }
  
  #product1 .pro .des{
    text-align: start;
    padding: 10px 0;
  }
  
  #product1 .pro .des span{
    color: antiquewhite;
    font-size: 12px;
  }
  
  #product1 .pro .des h5{
    padding-top: 7px;
    color: #ffffff;
    font-size: 14px;
  }
  
  #product1 .pro .des i{
    font-size: 15px;
    color: rgba(243, 181, 25);
  }
  #product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: whitesmoke;
  }
  
  #product1 .pro a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: rgb(24, 24, 24);
    font-weight: 500;
    color: rgb(255, 255, 255); 
    border: 1px solid whitesmoke;
    transition: 0.3s ease; 
  }
  
  #product1 .pro a:hover {
    background-color: rgb(0, 0, 0); 
    color: white;
  }
  
  #banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #banner h4{
    font-size: 25px;
  }
  
  #banner h2{
    font-size: 40px;
    padding: 10px 0;
  }
  
  #banner h2 span{
    color: red;
  }
  
  #banner button:hover{
    background-color: #000000;
    color: antiquewhite;
    box-shadow: #000000;
  }


  .contact-logo {
    width: 250px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 0;
  }

  .contact-icons {
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7.5px;
}

.contact-icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact_logo {
    width: 350px;
    height: auto;
}

.row img {
    width: 250px;
    height: auto;
    border: 0;
    padding-top: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}

footer .section-p1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.section-p1 p{
  margin: 10px;
}

.section-p1 h4{
  margin: 0px;
}


.copyright {
    text-align: center;
    justify-content: center;
    width: 100%;
}

.section-o1 {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  padding-top: 57.5px;
}

.section-o1 a {
  color: white; 
  text-decoration: none; 
  margin-bottom: 5px; 
}

.section-o1 a:hover {
  text-decoration: underline; 
}

.section-o1 h4{
  margin-bottom: 10px;
}

.install-section {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  padding-top: 57.5px;
}

.install-section .row img{
  margin-top: 0;
}

  /* Mobile Styles */
  @media (max-width: 768px) {
    .welcome-note {
      margin: 75px 20px 0 20px;
      z-index: 1;
    }
  
    #feature {
      flex-direction: column;
      align-items: center;
    }
  
    #product1 .pro-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    #product1 .pro-item {
      width: calc(75% - 20px);
      margin: 10px; 
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 36px;
    }
  
    h2 {
      font-size: 32px;
    }
  
    .welcome-note {
      padding: 100px 10px; 
      z-index: 1;
    }
  
    .welcome-note section {
      padding: 10px; 
      z-index: 1;
    }
  
    #product1 .pro-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    #product1 .pro-item {
      width: 40%;
      height: auto;
      margin: 5px;
    }
    .section-p1{
      margin: 20px 20px;
      padding: 0;

    }
  }
  
  #newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  #newsletter h4{
    font-size: 22px;
    font-weight: 700;
  }

  #newsletter p{
    font-size: 14px;
    font-weight: 600;
  }
  
  #newsletter .input-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px; 
    margin-top: 1rem; 
  }
  
  #newsletter input {
    width: 17.5rem;
    height: 2.5rem;
    padding: 0 1rem;
    font-size: 14px;
    flex: 1;
    border: 1px solid transparent;
    border-radius: 10px 0 0 10px;
    outline: none;
  }
  
  #newsletter button {
    height: 2.5rem;
    font-size: 14px;
    border-radius: 0 10px 10px 0;
    border: 1px solid transparent;
    padding: 0 1.5rem; 
  }
  