* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-image: url('./assets/Components/background_image.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center; 
  z-index: -1;
}
